{% extends "base.html" %}
{% load static %}
{% block title %}
  {% if adding %}
    Добавить
  {% elif taking %}
    Взять
  {% elif returning %}
    Возврат
  {% endif %}
{% endblock title %}
{% block content %}
  <div class="card-body">
    {% include "includes/form_errors.html" %}
    <form method="post"
          enctype="multipart/form-data"
          id="form-container"
          class="{% if adding %} adding {% elif taking %} taking {% endif %}">
      {% csrf_token %}
      {{ form.as_p }}
      <hr />
      {{ formset.management_form }}
      {% for item_form in formset %}
        <div class="row item-form">{% include "includes/form_fields.html" with form=item_form %}</div>
      {% endfor %}
      <div class="button-row position-relative">
        <button id="add-form" type="button" class="btn btn-secondary">+</button>
        <button id="remove-form" type="button" class="btn btn-danger">-</button>
        <button id="submit-form"
                type="submit"
                class="btn btn-primary position-absolute end-0">
          {% if adding %}
            Добавить
          {% elif taking %}
            Взять
          {% endif %}
        </button>
      </div>
    </form>
  </div>
  <script src="{% static 'js/form_temp.js' %}"></script>
  {% comment %}
  <style src="{% static 'css/form.css' %}"></style>
  {% endcomment %}
{% endblock content %}
