{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}
  История операций на складе
{% endblock title %}
{% block static %}
  <link rel="stylesheet" href="{% static "css/table.css" %}" />
  <script src="{% static 'js/table_row_link.js' %}"></script>
{% endblock static %}
{% block content %}
  <div class="card-body">
    {% if filter %}
      <form action="" method="get" class="form">
        {% csrf_token %}
        <div class="input-group">
          {% for field in filter.form %}
            {% bootstrap_field field field_class="col" layout="floating" wrapper_class="col me-2 mb-2" %}
          {% endfor %}
        </div>
        {% bootstrap_button "Фильтровать" %}
      </form>
      <br />
    {% endif %}
    {% load django_tables2 %}
    {% render_table table %}
  </div>
{% endblock content %}
