{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ title }} {{ order.date|date:"d.m.Y" }}
{% endblock title %}
{% block static %}
  <link rel="stylesheet" href="{% static "css/table.css" %}" />
{% endblock static %}
{% block content %}
  {% load django_tables2 %}
  <div class="card-body">
    <h2>{{ title }} {{ order.date|date:"d.m.Y" }}</h2>
    {% if not current %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
      {% endif %}
      {% render_table table %}
      {% if current %}
        <form method="post"
              enctype="multipart/form-data"
              class="d-flex justify-content-around">
          {% csrf_token %}
          <input class="btn btn-danger" type="submit" value="Закрыть заказ" />
          <a class="btn btn-warning" href="{% url 'inventory:free_order' %}">Добавить в своб. заказ</a>
          <a class="btn btn-info" href="{% url 'inventory:free_order_edit' %}">Изменить своб. заказ</a>
          <a class="btn btn-primary float-right"
             href="{% url 'inventory:export_current' %}">Как .zip по поставщикам</a>
          <a class="btn btn-primary float-right"
             href="{% url 'inventory:order' %}?_export=xlsx">Как .xlsx</a>
        </form>
      {% else %}
        <div class="d-flex justify-content-around">
          <a class="btn btn-danger"
             href="{% url 'inventory:order_cancel' pk=order.pk %}">Отменить заказ</a>
          <a class="btn btn-primary float-right"
             href="{% url 'inventory:order_by_id' order.id %}?_export=xlsx">Как .xlsx</a>
          <input class="btn btn-primary" type="submit" value="Сохранить номера" />
        </div>
      </form>
    {% endif %}
  </div>
{% endblock content %}
