{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block static %}
  <script src="{% static 'js/inventory/reception.js' %}"></script>
{% endblock static %}
{% block title %}
  Приход
{% endblock title %}
{% block content %}
  <div class="card-body">
    <form method="post"
          enctype="multipart/form-data"
          id="form-container"
          class=" adding">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="row g-3 align-items-center pb-1">
          <div class="col-auto">
            <label for="{{ field.id_for_label }}">
              {{ field.label }}
              {% if field.field.required %}<span class="required text-danger">*</span>{% endif %}
            </label>
          </div>
          <div class="col-auto">{{ field|addclass:'form-control' }}</div>
        </div>
      {% endfor %}
      {{ formset.management_form }}
      <div class="table-responsive">
        <link rel="stylesheet" href="{% static "css/form_table.css" %}" />
        <link rel="stylesheet" href="{% static "css/take_table.css" %}" />
        <table class="table table-bordered align-middle">
          {% include "includes/form_table_head.html" with form=formset.0 %}
          {% for form in formset %}
            {% include "./includes/form_item_row.html" %}
          {% endfor %}
        </table>
        <div class="button-row position-relative">
          <button id="add-form" type="button" class="btn btn-secondary">+</button>
          <button id="remove-form" type="button" class="btn btn-danger">-</button>
          <button id="submit-form"
                  type="submit"
                  class="btn btn-primary position-absolute end-0">Добавить</button>
        </div>
      </div>
    </form>
  </div>
  <script src="{% static 'js/inventory/set_selection.js' %}"></script>
{% endblock content %}
