{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}
  {% if taking %}
    Расход
  {% else %}
    Возврат
  {% endif %}
{% endblock title %}
{% block content %}
  <div class="card-body">
    <form method="post"
          enctype="multipart/form-data"
          id="form-container"
          class="taking">
      {% csrf_token %}
      {% for field in form %}
        <div class="row g-3 align-items-center pb-1">
          <div class="col-auto">
            <label for="{{ field.id_for_label }}">
              {{ field.label }}
              {% if field.field.required %}<span class="required text-danger">*</span>{% endif %}
            </label>
          </div>
          <div class="col-auto">{{ field|addclass:'form-control' }}</div>
        </div>
      {% endfor %}
      {{ item_formset.management_form }}
      {{ return_formset.management_form }}
      {% if form.is_valid %}
        <hr/>
        <div class="table-responsive">
          <link rel="stylesheet" href="{% static "css/form_table.css" %}"/>
          <table class="table table-bordered align-middle">
            {% if taking %}
              {% include "includes/form_table_head.html" with form=item_formset.0 %}
              {% for item_form in item_formset %}
                {% include "./includes/form_item_row.html" with form=item_form %}
              {% endfor %}
            {% else %}
              <link rel="stylesheet" href="{% static 'css/return_table.css' %}"/>
              {% include "includes/form_table_head.html" with form=return_formset.0 %}
              {% for item_form in return_formset %}
                {% include "./includes/form_return_row.html" with form=item_form %}
              {% endfor %}
            {% endif %}
          </table>
        </div>
          <div class="button-row position-relative">
            {% if taking %}
              <button id="add-form" type="button" class="btn btn-secondary">+</button>
              <button id="remove-form" type="button" class="btn btn-danger">-</button>
              <button id="take"
                      type="submit"
                      class="btn btn-primary position-absolute end-0">
                Взять
              {% else %}
                <button id="return"
                        type="submit"
                        class="btn btn-primary position-absolute end-0">
                  Вернуть
                {% endif %}
              </button>
            </div>
        {% endif %}
      </form>
    </div>
    <script src="{% static 'js/take_or_return.js' %}"></script>
  {% endblock content %}
