{% extends "base.html" %}
{% load static %}
{% block title %}
  {% if adding %}
    Добавить
  {% elif taking %}
    Взять
  {% elif returning %}
    Возврат
  {% endif %}
{% endblock title %}
{% block content %}
  <div class="card-body">
    <form method="post"
          enctype="multipart/form-data"
          id="form-container"
          class="{% if adding %} adding {% elif taking %} taking {% endif %}">
      {% csrf_token %}
      {{ form.as_p }}
      {{ formset.management_form }}
      <div class="table-responsive">
        <link rel="stylesheet" href="{% static "css/form_table.css" %}"/>
        <table class="table table-bordered align-middle">
          {% include "includes/form_table_head.html" with form=formset.0 %}
          {% for item_form in formset %}
            {% include "./includes/form_item_row.html" with form=item_form %}
          {% endfor %}
        </table>
        <div class="button-row position-relative">
          <button id="add-form" type="button" class="btn btn-secondary">+</button>
          <button id="remove-form" type="button" class="btn btn-danger">-</button>
          <button id="submit-form"
                  type="submit"
                  class="btn btn-primary position-absolute end-0">
            {% if adding %}
              Приход
            {% elif taking %}
              Расход/возврат
            {% endif %}
          </button>
        </div>
      </div>
    </form>
  </div>
  <script src="{% static 'js/form_select2.js' %}"></script>
{% endblock content %}
