{% extends "base.html" %}
{% load static %}
{% block title %}
  Заказы
{% endblock title %}
{% block static %}
  <link rel="stylesheet" href="{% static "css/table.css" %}" />
  <link rel="stylesheet" href="{% static "css/status_pill.css" %}" />
{% endblock static %}
{% block content %}
  {% load django_tables2 %}
  <div class="card-body">
    <div class="row">
      <a class="btn btn-secondary col" href="{% url 'clients:add_client' %}">Добавить обращение/клиента</a>
      <a class="btn btn-primary col" href="{% url 'clients:add_job' %}">Добавить работу</a>
    </div>
    {% render_table table %}
  </div>
  <script src="{% static 'js/table_row_link.js' %}"></script>
{% endblock content %}
