{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %}
  Добавить обращение для {{ client }}
{% endblock title %}
{% block content %}
  <div class="card-body">
    <h3>Обращение для {{ client }}</h3>
    <form method="post" enctype="multipart/form-data" id="form-container">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="button-row position-relative">
        <button id="submit-form"
                type="submit"
                class="btn btn-primary position-absolute end-0">Добавить</button>
      </div>
    </form>
  </div>
{% endblock content %}
