html, body {
    height: 100%;
}

table {
    table-layout: fixed;
}

td>select, td>input {
    width: 100%;
}

thead>tr>th,
tbody>tr>th,
tfoot>tr>th,
thead>tr>td,
tbody>tr>td,
tfoot>tr>td {
    margin: 0 !important;
    padding: 0 !important;
}

tbody>tr>td>.alert {
    z-index: -1;
    margin-top: -5px;
    margin-bottom: 0;
}

.select2.select2-container {
    width: 100% !important;
}

.fixed-width {
    width: 60%;
}

.alert-td {
    border: 2px solid red !important;
}

td>input {
    border: none;
}

.select2-container--default .select2-selection--single {
    border: none;
}

select{
    border: none;
}