:root {
    --orto-green: #40ac4b;
}

/*main {
    padding-top: 58px;
}*/

.nav-link {
    color: var(--orto-green);
}

.nav-link, .btn {
    padding: .3rem .5rem;
}

.nav-link.active {
    background-color: var(--orto-green) !important;
}

.nav, .btn {
    font-size: .95rem;
}