{% load static %}
<header>
  <link rel="stylesheet" href="{% static "css/header.css" %}"/>
  <nav class="navbar navbar-expand-md navbar-light"
       style="background-color: lightgrey">
    <div class="container">
      <a class="navbar-brand d-flex flex-row"
         href="{% url 'inventory:nomenclature' %}">
        <img src="{% static 'img/logo.png' %}"
             height="30"
             class="d-inline-block align-top"
             alt="">
        <div>
          <span style="color: green; line-height: 16px; display: block;">OРТО
            <br>
          РЕАЛ</span>
        </div>
      </a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% with view_name=request.resolver_match.view_name %}
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav nav-pills ms-auto">
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'inventory:nomenclature' %} active{% endif %}"
                 href="{% url 'inventory:nomenclature' %}">
                Номенклатура
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'inventory:orders' or view_name == 'inventory:order' or view_name == 'invenotry:order_by_id' %} active{% endif %}"
                 href="{% url 'inventory:orders' %}">
                Заказы
              </a>
            </li>
            {% comment %}
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'clients:contacts' %} active{% endif %}"
                 href="{% url 'clients:contacts' %}">
                Обращения
              </a>
            </li>
            {% endcomment %}
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'inventory:add_items' %} active{% endif %}"
                 href="{% url 'inventory:add_items' %}">
                Приход
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-wrap{% if view_name == 'inventory:logs' %} active{% endif %}"
                 href="{% url 'inventory:logs' %}">
                Операции
              </a>
            </li>
            {% if user.is_manager or user.is_prosthetist %}
              <li class="nav-item">
                <a class="nav-link text-wrap{% if view_name == 'inventory:all_job_sets' or view_name == 'inventory:job_sets' %} active{% endif %}"
                {% if user.is_manager %}
                   href="{% url 'inventory:all_job_sets' %}">
                {% elif user.is_prosthetist %}
                  href="{% url 'inventory:all_job_sets' %}">
                {% endif %}
                Комплектующие
              </a>
            </li>
          {% endif %}
          {% if user.is_prosthetist %}
            <li class="nav-item">
              <a class="nav-link text-wrap{% if view_name == 'inventory:pick_parts' %} active{% endif %}"
                 href="{% url 'inventory:pick_parts' %}">
                Выбор комплектации
              </a>
            </li>
            <li class="nav-item">
              <div class="btn-group" role="group">
                <a class="btn btn-warning{% if view_name == 'inventory:take_items' %} active{% endif %}"
                   href="{% url 'inventory:take_items' %}">
                  Взять
                </a>
                <a class="btn btn-danger{% if view_name == 'inventory:return_items' %} active{% endif %}"
                   href="{% url 'inventory:return_items' %}">
                  Вернуть
                </a>
              </div>
            </li>
          {% endif %}
          {% if user.is_authenticated %}
            {% comment %}
            <li class="nav-item"> 
              <a class="nav-link {% if view_name == 'posts:post_create' %} active {% endif %}" href="{% url 'posts:post_create' %}">
                Новая запись
              </a>
            </li>
            {% endcomment %}
            <li class="nav-item">
              <a class="nav-link disabled">{{ user }}</a>
              {% comment %}
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item" href="{% url 'posts:profile' user.username %}">Профиль</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="{% url 'users:password_change' %}">Изменить пароль</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a>
                </li>
              </ul>
              {% endcomment %}
            </li>
            {% comment %}
          {% else %}
            <li class="nav-item"> 
              <a class="nav-link {% if view_name == 'users:login' %} active bg-secondary link {% else %} link-dark {% endif %}" href="{% url 'users:login' %}">
                Войти
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'users:signup' %} active bg-secondary link {% else %} link-dark {% endif %}" href="{% url 'users:signup' %}">
                Регистрация
              </a>
            </li>
            {% endcomment %}
          {% endif %}
        </ul>
      </div>
    {% endwith %}
  </div>
</nav>
</header>
